body {
  margin: 0px;
  padding: 0px;
}

.App{
  display: flex;
  justify-content: center;
  align-items: center;
}

.json-data div{
  height: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content:flex-start;
  align-items: center;
  flex-direction: row;
}

.json-data h1{
  min-height: 50px;
  margin: 12px
}

.json-data h4{
  margin-left: auto;
}